main
  height: auto

.center
  max-width: none;

.cms-markdown-body textarea
  background: #292a38
  border: none
  padding: 20px
  color: rgb(236, 234, 250)
  font-family: freight-sans-pro
  line-height: 1.5em; font-size: 1.13em
  outline: 0

.cms-preview, .cms-preview-header
  border: none

.button
  background: #292a38
  padding: 5px 20px
  border: none
  color: #fff